<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523163864939-hmj7skinarq2a3uptc9o1avh8evq5iko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523163864939-hmj7skinarq2a3uptc9o1avh8evq5iko</string>
	<key>API_KEY</key>
	<string>AIzaSyBE44Z066yj7LA8N4ThScn7pYQpv_8O4dM</string>
	<key>GCM_SENDER_ID</key>
	<string>523163864939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.routineMachine</string>
	<key>PROJECT_ID</key>
	<string>routine-machine-56ec1</string>
	<key>STORAGE_BUCKET</key>
	<string>routine-machine-56ec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523163864939:ios:de3e9f0b51bd36bb8cc62e</string>
</dict>
</plist>